.selected {
  border: 5px solid #E44D71;
}

.page_location_theme {
  background-image: url(http://tong.visitkorea.or.kr/cms/resource/23/2947523_image2_1.jpg);
  background-size: cover;
  /* 이미지가 박스를 가득 채우도록 */
  background-position: center;
  /* 이미지가 중앙에 위치하도록 */
  background-repeat: no-repeat;
  /* 이미지가 반복되지 않도록 */
  position: relative;
  height: 100vh;

  .content {
    position: relative;
    z-index: 2;
    color: rgba(255, 255, 255, 0.5);
  }

  .image_container {
    height: 405px;
    background-color: #FFFFFF;
    border-radius: 10px;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .button {
    font-weight: bold;
    font-size: 14px;
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translate(-50%, 0);

    background: #FFFFFFE5;
    color: #E44D71;
    cursor: pointer;
   
    padding: 8px 16px 8px 16px;
    border-radius: 40px;
    border: 1px solid #E44D71
  }
}

.page_location_theme::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* Black with 80% opacity */
  z-index: 1;
}